<!DOCTYPE HTML>
<html>
<title>Simply-Organized</title>
<link rel=stylesheet type="text/css" href="/static/mobileAboutStyle.css"/>
<div class=page>
<body>
<h1>Barney Coopersmith</h1>
<p3>He has a system for everything</p3><br>
<h2>About:</h2>
<p1>
Simply Organized is designed following the principle that most electronic
organizers get in the way as much as they help.  If your like me, you have many
time not put something into your blackberry/iPhone because you don't want to 
hit 6 button and 3 screens in order to do so.  Simply Organized gives you a 
straight forward single interface menu that gets you organized and on your way.
</p1>
<h2>Functionality</h2>
<h3>Date Field</h3>
<p1>
So the date field will do much of the work for you.  It will accept dates in the form:
<pre>M/D
MM/DD
M/D/YY
MM/DD/YY
MM/DD/YYYY</pre>
It assumes the current date if no date is entered and assumes the current year
if no year is entered. If you need to put something on Friday, there's no need 
to look up the date, just put in 'f' for the date.  Simply Organized will do the
rest for you, even if you need to put it on next friday, or for the next 5 fridays.
Just follow the chart below and you will no longer need a calander to organize yourself.
<pre>		This week	Next week	For any number of weeks
Monday		m or M		nm or NM		5m or 5M
Tuesday		t or T		nt or NT		5t or 5T
Wednesday	w or W		nw or nw		5w or 5W
Thursday	r or R		nr or NR		5r or 5R
Friday		f or F		nf or NF		5f or 5F
Saturday	s or S		ns or NS		5s or 5S
Sunday		u or U		nu or NU		5u or 5U</pre>
For any number of weeks, just replace the '5' with the number of weeks you would like
the event to occur.  And I know what your thinking, what the hell is with the r and u?
Well I am lazy and in a hurry, I don't want to type more that I have to. If your still
reading this, you must be bored or willing to put in some effort to make your life easier.
I normally fall into both catagories.
</p1>
<h3>Entry Field</h3>
<p1>
This field should really be called the time and text entry field.  We'll start with the
time.  So you can enter the time followed by a space then your text in any of the 
following formats:
<pre>H
HH
H:MM
HH:MM</pre>
And you can include am or pm (case does not mater) ,or p or a (for shorthand, remember
I'm lazy).  If you do not want to include the am or pm, Simply Organized will assume your
time is between 8AM and 7:59PM and then will assign the am or pm for you. Now for the text
part of the entry field.  After the time, you will always include a space and everything 
after that space will be unmodified and used as your entry.  There is one exception to this, 
if you'd like to enter multiple items into the same date.  All you have to do is to seperate 
each of the items in the list with a ';' and they will appear as seperate entries.
</p1>
<h3>To do</h3>
<p1>
Ok so this is a little less straight forward but it is how I do my organizer and I hope
you like it.  Any entry without a time is considered a To do item.  In which case a To do
item will be listed on the day like other items however past To do items that have not been
crossed out(by clicking on the item) and To do items for today(whether they were crossed
out or not) will be listed in the To do list.  This serves this primary purpose, items on 
your To do for yesterday that were not completed (crossed out) are carried over to today
so you have the reminder to complete them. Once an item is crossed out it is removed from
the To do list and placed back in its corrisponding day, unless its day is today.
</p1>
<h3>Crossing Out and Deleting</h3>
<p1>
Simply Organized offeres a simple way of showing task completion.  You click on the task
and it is crossed out (or stuckthrough).  Once it is crossed out it, you are able to delete
the item.  This servers two purposes, the first was already mentioned and the second is an
check so you don't accidently delete something that was important and not completed.
</p1>
<h2>Final Thoughts</h2>
<p1>
Thanks very much for reading all the way through this and I am sorry, I cannot give you
back the last few minutes of your life.  However I hope this app repays you 10 fold.

Thanks to David Jonas for answering all my dumb questions that google couldn't ( I should
probably say that I couldn't answer with google).  And Thanks to Jenny Watanabe for not
throwing my laptop out the window after listening to me ramble about this app for the last
few weeks.  ENJOY!!!
</p1>
<h2>A Little More</h2>
<p1>
I almost forgot. If you just read this whole thing trying to find out who Barney Coopersmith
is and why his name is on the app, check out My Blue Heaven (a great '80's movie starring
Steve Martin).
</p1>
</div>
</body>
</html>